@model DetalhesPrecosCombustiveisViewModel

<div class="row gap-3 my-3 my-xl-5">
    <label class="fs-4"><strong>Preço Gasolina:</strong> @Model.PrecoGasolina</label>
    <label class="fs-4"><strong>Preço Diesel:</strong> @Model.PrecoDiesel</label>
    <label class="fs-4"><strong>Preço Gás:</strong> @Model.PrecoGas</label>
    <label class="fs-4"><strong>Preço Alcool:</strong> @Model.PrecoAlcool</label>

    <label class="fs-5"><strong>Id:</strong> [@Model.Id]</label>
</div>