@using LocadoraDeVeiculos.Dominio.ModuloVeiculo

@model FormularioCondutorViewModel

@{
    ViewBag.Title = "Inserir Condutor";
}

<div class="col">
    <div class="row gap-3 my-3 my-xl-5">
        <form class="col-lg-6 d-grid gap-3 fs-5" asp-action="Inserir">
           
            <div>
                <label class="control-label fw-semibold mb-1">Cliente</label>
                <select class="form-control mb-1" asp-for="ClienteId" asp-items="Model.Cliente"></select>
                <span class="text-danger fs-6" asp-validation-for="ClienteId"></span>
            </div>
            
            <div class="form-group">
                <label>
                    @Html.CheckBoxFor(m => m.ClienteEqualsCondutor)
                    Cliente é o condutor
                </label>
                <span class="text-danger" asp-validation-for="ClienteEqualsCondutor"></span>
            </div>

            <div>
                <label class="control-label fw-semibold mb-1">Nome</label>
                <input class="form-control mb-1" asp-for="Nome" />
                <span class="text-danger fs-6" asp-validation-for="Nome"></span>
            </div>

            <div>
                <label class="control-label fw-semibold mb-1">Email</label>
                <input class="form-control mb-1" asp-for="Email" />
                <span class="text-danger fs-6" asp-validation-for="Email"></span>
            </div>


            <div>
                <label class="control-label fw-semibold mb-1">Telefone</label>
                <input class="form-control mb-1" asp-for="Telefone" />
                <span class="text-danger fs-6" asp-validation-for="Telefone"></span>
            </div>

                <div>
                    <label class="control-label fw-semibold mb-1">CPF</label>
                    <input class="form-control mb-1" asp-for="CPF"/>
                    <span class="text-danger fs-6" asp-validation-for="CPF"></span>
                </div>
            
            <div>
                    <label class="control-label fw-semibold mb-1">CNH</label>
                    <input class="form-control mb-1" asp-for="CNH"/>
                    <span class="text-danger fs-6" asp-validation-for="CNH"></span>
                </div> 
            
            <div class="form-group">
                <label for="data">Selecione uma data:</label>
                @Html.TextBoxFor(m => m.Validade, new { @class = "form-control", @type = "date" })
                <span class="text-danger" asp-validation-for="Validade"></span>
            </div>

            <div class="d-grid gap-2 d-md-block mt-4">
                <button class="btn btn-primary px-5">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-outline-primary px-5" asp-action="Listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>