@model IEnumerable<ListarGrupoAutomoveisViewModel>

@{
    ViewBag.Title = "Listagem de Grupos de Veículos";
}

<div class="col">

    <a class="btn btn-primary px-4 mt-3" asp-controller="GrupoDeAutomoveis" asp-action="Inserir">
        <i class="bi bi-circle-add"></i>
        Inserir Novo Grupo de Veículos
    </a>

    <div class="row gap-2 my-3 my-xl-5">
        @foreach (var grupoVm in Model)
        {
            <div class="card col-lg-4 col-xl-3">
                <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                    <h5 class="p-0">@grupoVm.Id</h5>

                    <div class="text-end d-flex align-items-center gap-3">
                        <a title="Detalhes"
                           class="text-info-emphasis fs-5"
                           href="/GrupoDeAutomoveis/Detalhes/@grupoVm.Id">
                            <i class="bi bi-search"></i>
                        </a>
                        <a title="Editar"
                           class="text-info-emphasis fs-5"
                           href="/GrupoDeAutomoveis/Editar/@grupoVm.Id">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a title="Excluir"
                           class="text-info-emphasis fs-5" href="/GrupoDeAutomoveis/Excluir/@grupoVm.Id">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title">@grupoVm.Nome</h5>
                </div>
            </div>
        }
    </div>
</div>