@model DetalhesTaxaEServicoViewModel

<div class="row gap-3 my-3 my-xl-5">
    <label class="fs-4"><strong>Taxa/Serviço:</strong> @Model.Nome</label>
    <label class="fs-4"><strong>Método de Cobrança:</strong> @Model.FixoOuDiario</label>
    <label class="fs-4"><strong>Preço:</strong> @Model.Preco</label>

    <label class="fs-5"><strong>Id:</strong> [@Model.Id]</label>
</div>