@{
    ViewBag.Title = "Acesso Negado";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead">Você não tem autorização para acessar esta página.</p>
    </div>
</div>